*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
}
header{
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 50px;
}
nav{
    background-color: #333333;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.nav a{
    color: white;
    text-decoration: none;
}
.Displayflex{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.section{
    background-color: white;
    margin: 10px;
    border-radius: 4px;
    width: 250px;
    padding: 40px;
}
button{
    background-color: #222222;
    padding: 6px;
    color: white;
}
footer{
    background-color: #222222;
    text-align: center;
    padding: 20px;
    color: white;
}

